## Import Dependencies

In [3]:
# Import Dependencies
import pandas as pd
import matplotlib.pyplot as plt
import json
import os

## Retrieve the Stock data

In [4]:
# Set stock data csv file path
stock_data_url = os.path.join("Resources","stock_data.csv")

# Read the Stock data from CSV file into dataframe
stock_data_df = pd.read_csv(stock_data_url)
stock_data_df

,Symbol,Name,2019-12-31,2020-03-31,2020-06-30,2020-10-09
0,A,"Agilent Technologies, Inc. Common Stock",85.309998,71.620003,88.370003,105.760002
1,AA,Alcoa Corporation Common Stock,21.510000,6.160000,11.240000,12.520000
2,AAA,Listed Funds Trust AAF First Priority CLO Bond...,NaN,NaN,NaN,24.895000
3,AAAU,Perth Mint Physical Gold ETF,15.150000,15.720000,17.780001,19.219999
4,AACG,ATA Creativity Global - American Depositary Sh...,1.360000,0.950000,1.260000,1.080000
...,...,...,...,...,...,...
9158,ZUO,"Zuora, Inc. Class A Common Stock",14.330000,8.050000,12.750000,11.060000
9159,ZVO,Zovio Inc. - Common Stock,2.060000,1.650000,3.060000,4.530000
9160,ZYME,Zymeworks Inc. Common Shares,45.459999,35.470001,36.070000,47.099998
9161,ZYNE,"Zynerba Pharmaceuticals, Inc. - Common Stock",6.040000,3.830000,3.370000,3.680000
9162,ZYXI,"Zynex, Inc. - Common Stock",7.870000,11.070000,24.870001,19.730000

## Data Cleanup

* Remove NaNs
* Rename Column Names

In [5]:
# Doing data cleanup, and dropping the bad record:
cleaned_stock_df = stock_data_df.dropna(how='any')

In [6]:
# Checking if cleaning dataframe function has produced desired results:
cleaned_stock_df.count()

Symbol        7608
Name          7608
2019-12-31    7608
2020-03-31    7608
2020-06-30    7608
2020-10-09    7608
dtype: int64

In [7]:
# Using the (.shape) function to see the shape of dataframe: 
cleaned_stock_df.shape

(7608, 6)

In [8]:
# The stock cleaned dataframe:
cleaned_stock_df.head()

,Symbol,Name,2019-12-31,2020-03-31,2020-06-30,2020-10-09
0,A,"Agilent Technologies, Inc. Common Stock",85.309998,71.620003,88.370003,105.760002
1,AA,Alcoa Corporation Common Stock,21.510000,6.160000,11.240000,12.520000
3,AAAU,Perth Mint Physical Gold ETF,15.150000,15.720000,17.780001,19.219999
4,AACG,ATA Creativity Global - American Depositary Sh...,1.360000,0.950000,1.260000,1.080000
8,AADR,AdvisorShares Dorsey Wright ADR ETF,53.889999,40.340000,52.990002,57.990002

In [11]:
# Renaming the cleaned stock dataframe columns: 
renamed_df= cleaned_stock_df.rename(columns={'2019-12-31': 'Pre_COVID',
                                    '2020-03-31': 'Mar_2020',
                                    '2020-06-30': 'Jun_2020',
                                    '2020-10-09': 'Oct_2020'})
renamed_df.head()

,Symbol,Name,Pre_COVID,Mar_2020,Jun_2020,Oct_2020
0,A,"Agilent Technologies, Inc. Common Stock",85.309998,71.620003,88.370003,105.760002
1,AA,Alcoa Corporation Common Stock,21.510000,6.160000,11.240000,12.520000
3,AAAU,Perth Mint Physical Gold ETF,15.150000,15.720000,17.780001,19.219999
4,AACG,ATA Creativity Global - American Depositary Sh...,1.360000,0.950000,1.260000,1.080000
8,AADR,AdvisorShares Dorsey Wright ADR ETF,53.889999,40.340000,52.990002,57.990002

In [12]:
# Setting the index for renamed stock dataframe:
renamed_df = renamed_df.reset_index()
renamed_df = renamed_df[["Symbol","Name","Pre_COVID","Mar_2020","Jun_2020","Oct_2020"]]
renamed_df

,Symbol,Name,Pre_COVID,Mar_2020,Jun_2020,Oct_2020
0,A,"Agilent Technologies, Inc. Common Stock",85.309998,71.620003,88.370003,105.760002
1,AA,Alcoa Corporation Common Stock,21.510000,6.160000,11.240000,12.520000
2,AAAU,Perth Mint Physical Gold ETF,15.150000,15.720000,17.780001,19.219999
3,AACG,ATA Creativity Global - American Depositary Sh...,1.360000,0.950000,1.260000,1.080000
4,AADR,AdvisorShares Dorsey Wright ADR ETF,53.889999,40.340000,52.990002,57.990002
...,...,...,...,...,...,...
7603,ZUO,"Zuora, Inc. Class A Common Stock",14.330000,8.050000,12.750000,11.060000
7604,ZVO,Zovio Inc. - Common Stock,2.060000,1.650000,3.060000,4.530000
7605,ZYME,Zymeworks Inc. Common Shares,45.459999,35.470001,36.070000,47.099998
7606,ZYNE,"Zynerba Pharmaceuticals, Inc. - Common Stock",6.040000,3.830000,3.370000,3.680000
7607,ZYXI,"Zynex, Inc. - Common Stock",7.870000,11.070000,24.870001,19.730000

## Overview table that summarizes key metrics about each business, including:

* Symbol
* Name
* Pre-COVID Stock Value
* March 2020 Stock Value
* June 2020 Stock Value
* October 2020 Stock Value
* Pre-COVID % Change
* March 2020 % Change
* June 2020 % Change
* Post-COVID % Change (October 2020)
* Create a dataframe to hold the above results

In [13]:
# Calculating the percentage of change for each time period we are assessing:

# Setting PreCovid = 0 for plotting purposes:
renamed_df["Pre COVID % Change"] = 0

# Calculating the percentage change that occured over the period from December 2019 to the end of March 2020:
renamed_df["Mar 2020 % Change"] = (renamed_df["Mar_2020"] - renamed_df["Pre_COVID"])/renamed_df["Pre_COVID"]*100
renamed_df["Mar 2020 % Change"]

# Calculating the percentage change that occured over the period from March 2020 to the end of June 2020:
renamed_df["June 2020 % Change"] = (renamed_df["Jun_2020"] - renamed_df["Pre_COVID"])/renamed_df["Pre_COVID"]*100
renamed_df["June 2020 % Change"]

# Calculating the percentage change that occured over the period from June 2020 to the end of October 2020:
renamed_df["Oct 2020 % Change"] = (renamed_df["Oct_2020"] - renamed_df["Pre_COVID"])/renamed_df["Pre_COVID"]*100
renamed_df["Oct 2020 % Change"]

0        23.971404
1       -41.794513
2        26.864685
3       -20.588233
4         7.608095
           ...
7603    -22.819257
7604    119.902929
7605      3.607566
7606    -39.072846
7607    150.698854
Name: Oct 2020 % Change, Length: 7608, dtype: float64

In [14]:
# I confirmed that all the columns, which contain the percent changes, were correctly assigned in the dataframe:
renamed_df.head()

,Symbol,Name,Pre_COVID,Mar_2020,Jun_2020,Oct_2020,Pre COVID % Change,Mar 2020 % Change,June 2020 % Change,Oct 2020 % Change
0,A,"Agilent Technologies, Inc. Common Stock",85.309998,71.620003,88.370003,105.760002,0,-16.047351,3.586924,23.971404
1,AA,Alcoa Corporation Common Stock,21.510000,6.160000,11.240000,12.520000,0,-71.362158,-47.745236,-41.794513
2,AAAU,Perth Mint Physical Gold ETF,15.150000,15.720000,17.780001,19.219999,0,3.762381,17.359743,26.864685
3,AACG,ATA Creativity Global - American Depositary Sh...,1.360000,0.950000,1.260000,1.080000,0,-30.147060,-7.352943,-20.588233
4,AADR,AdvisorShares Dorsey Wright ADR ETF,53.889999,40.340000,52.990002,57.990002,0,-25.143810,-1.670064,7.608095

## Top Performing Businesses (By Post-COVID Profit % Change)


* Sort and display the top ten performing businesses by Post-COVID Profit % change.

In [15]:
# Sorting the percent change in the value of the stocks from highest to lowest: 
renamed_df_sorted = renamed_df.sort_values("Oct 2020 % Change", ascending=False)
renamed_df_sorted

,Symbol,Name,Pre_COVID,Mar_2020,Jun_2020,Oct_2020,Pre COVID % Change,Mar 2020 % Change,June 2020 % Change,Oct 2020 % Change
4892,NVAX,"Novavax, Inc. - Common Stock",3.980000,13.580,83.349998,111.220001,0,241.206027,1994.221057,2694.472379
7276,VXRT,"Vaxart, Inc. - Common Stock",0.350000,1.770,8.850000,7.290000,0,405.714289,2428.571581,1982.857167
1357,CODX,"Co-Diagnostics, Inc. - Common Stock",0.895000,7.620,19.350000,14.420000,0,751.396653,2062.011262,1511.173227
7270,VVPR,VivoPower International PLC - Ordinary Shares,1.050000,0.740,1.320000,16.280001,0,-29.523805,25.714296,1450.476326
6774,TRIL,Trillium Therapeutics Inc. - Common Shares,1.030000,4.040,8.090000,15.370000,0,292.233017,685.436930,1392.233040
...,...,...,...,...,...,...,...,...,...,...
4949,OAS,Oasis Petroleum Inc. - Common Stock,3.260000,0.350,0.750000,0.160000,0,-89.263804,-76.993865,-95.092025
3756,JDST,Direxion Daily Junior Gold Miners Index Bear 2...,244.500000,67.750,16.980000,9.620000,0,-72.290389,-93.055215,-96.065440
4823,NRGU,MicroSectors U.S. Big Oil Index 3X Leveraged ETN,47.147999,2.214,4.080000,1.660000,0,-95.304149,-91.346399,-96.479172
6396,SRRA,"Sierra Oncology, Inc. - Common Stock",547.200012,9.820,12.100000,11.750000,0,-98.205409,-97.788743,-97.852705
3044,GUSH,Direxion Daily S&P Oil & Gas Exp. & Prod. Bull...,1462.000000,15.660,34.299999,24.170000,0,-98.928865,-97.653899,-98.346785

In [16]:
# Find the Top 10 businesses that has most profit
top_10_business_df = renamed_df_sorted.head(10).style.format({"Mar 2020 % Change": "{:.0f}%",
                                                              "June 2020 % Change": "{:.0f}%",
                                                              "Oct 2020 % Change": "{:.0f}%"})
top_10_business_df

## Bottom Performing Businesses (By Post-COVID Profit % Change)

* Sort and display the ten worst-performing businesses by Post-COVID Profit % change.