In [123]:
# Import Dependencies

import pandas as pd
import matplotlib.pyplot as plt
import json
import os
import datetime
import numpy as np



#import pandas_datareader.data as web
from pandas import Series, DataFrame

In [124]:
# Set stock data csv file path

stock_data_url = os.path.join("Resources","stock_data.csv")

# Read the Stock data from CSV file into dataframe

stock_data_df = pd.read_csv(stock_data_url)
stock_data_df

,Symbol,Name,2019-12-31,2020-03-31,2020-06-30,2020-10-09
0,A,"Agilent Technologies, Inc. Common Stock",85.309998,71.620003,88.370003,105.760002
1,AA,Alcoa Corporation Common Stock,21.510000,6.160000,11.240000,12.520000
2,AAA,Listed Funds Trust AAF First Priority CLO Bond...,NaN,NaN,NaN,24.895000
3,AAAU,Perth Mint Physical Gold ETF,15.150000,15.720000,17.780001,19.219999
4,AACG,ATA Creativity Global - American Depositary Sh...,1.360000,0.950000,1.260000,1.080000
...,...,...,...,...,...,...
9158,ZUO,"Zuora, Inc. Class A Common Stock",14.330000,8.050000,12.750000,11.060000
9159,ZVO,Zovio Inc. - Common Stock,2.060000,1.650000,3.060000,4.530000
9160,ZYME,Zymeworks Inc. Common Shares,45.459999,35.470001,36.070000,47.099998
9161,ZYNE,"Zynerba Pharmaceuticals, Inc. - Common Stock",6.040000,3.830000,3.370000,3.680000
9162,ZYXI,"Zynex, Inc. - Common Stock",7.870000,11.070000,24.870001,19.730000

In [125]:
# Doing data cleanup, and dropping the bad record:

cleaned_stock_df = stock_data_df.dropna(how='any')

In [126]:
# Checking if cleaning dataframe function has produced desired results:

cleaned_stock_df.count()

Symbol        7608
Name          7608
2019-12-31    7608
2020-03-31    7608
2020-06-30    7608
2020-10-09    7608
dtype: int64

In [127]:
# Using the (.shape) function to see the shape of dataframe: 

cleaned_stock_df.shape

(7608, 6)

In [128]:
# The stock cleaned dataframe:

cleaned_stock_df.head()

,Symbol,Name,2019-12-31,2020-03-31,2020-06-30,2020-10-09
0,A,"Agilent Technologies, Inc. Common Stock",85.309998,71.620003,88.370003,105.760002
1,AA,Alcoa Corporation Common Stock,21.510000,6.160000,11.240000,12.520000
3,AAAU,Perth Mint Physical Gold ETF,15.150000,15.720000,17.780001,19.219999
4,AACG,ATA Creativity Global - American Depositary Sh...,1.360000,0.950000,1.260000,1.080000
8,AADR,AdvisorShares Dorsey Wright ADR ETF,53.889999,40.340000,52.990002,57.990002

In [129]:
# Renaming the cleaned stock dataframe columns: 

renamed_df= cleaned_stock_df.rename(columns={'2019-12-31': 'Pre_COVID',
                                    '2020-03-31': 'Mar_2020',
                                    '2020-06-30': 'Jun_2020',
                                    '2020-10-09': 'Oct_2020'})
renamed_df.head()

,Symbol,Name,Pre_COVID,Mar_2020,Jun_2020,Oct_2020
0,A,"Agilent Technologies, Inc. Common Stock",85.309998,71.620003,88.370003,105.760002
1,AA,Alcoa Corporation Common Stock,21.510000,6.160000,11.240000,12.520000
3,AAAU,Perth Mint Physical Gold ETF,15.150000,15.720000,17.780001,19.219999
4,AACG,ATA Creativity Global - American Depositary Sh...,1.360000,0.950000,1.260000,1.080000
8,AADR,AdvisorShares Dorsey Wright ADR ETF,53.889999,40.340000,52.990002,57.990002

In [130]:
# Setting the index for renamed stock dataframe:

renamed_df.reset_index()

,index,Symbol,Name,Pre_COVID,Mar_2020,Jun_2020,Oct_2020
0,0,A,"Agilent Technologies, Inc. Common Stock",85.309998,71.620003,88.370003,105.760002
1,1,AA,Alcoa Corporation Common Stock,21.510000,6.160000,11.240000,12.520000
2,3,AAAU,Perth Mint Physical Gold ETF,15.150000,15.720000,17.780001,19.219999
3,4,AACG,ATA Creativity Global - American Depositary Sh...,1.360000,0.950000,1.260000,1.080000
4,8,AADR,AdvisorShares Dorsey Wright ADR ETF,53.889999,40.340000,52.990002,57.990002
...,...,...,...,...,...,...,...
7603,9158,ZUO,"Zuora, Inc. Class A Common Stock",14.330000,8.050000,12.750000,11.060000
7604,9159,ZVO,Zovio Inc. - Common Stock,2.060000,1.650000,3.060000,4.530000
7605,9160,ZYME,Zymeworks Inc. Common Shares,45.459999,35.470001,36.070000,47.099998
7606,9161,ZYNE,"Zynerba Pharmaceuticals, Inc. - Common Stock",6.040000,3.830000,3.370000,3.680000
7607,9162,ZYXI,"Zynex, Inc. - Common Stock",7.870000,11.070000,24.870001,19.730000

In [131]:
# Calculating the percentage of change for each time period we are assessing:

# Setting PreCovid = 0 for plotting purposes:

renamed_df["PreCovid"] = 0

# Calculating the percentage change that occured over the period from December 2019 to the end of March 2020:

renamed_df["PostCovid_1"] = (renamed_df["Mar_2020"] - renamed_df["Pre_COVID"])/renamed_df["Pre_COVID"]*100
renamed_df["PostCovid_1"]

# Calculating the percentage change that occured over the period from March 2020 to the end of June 2020:

renamed_df["PostCovid_2"] = (renamed_df["Jun_2020"] - renamed_df["Pre_COVID"])/renamed_df["Pre_COVID"]*100
renamed_df["PostCovid_2"]

# Calculating the percentage change that occured over the period from June 2020 to the end of October 2020:

renamed_df["PostCovid_3"] = (renamed_df["Oct_2020"] - renamed_df["Pre_COVID"])/renamed_df["Pre_COVID"]*100
renamed_df["PostCovid_3"]

0        23.971404
1       -41.794513
3        26.864685
4       -20.588233
8         7.608095
           ...
9158    -22.819257
9159    119.902929
9160      3.607566
9161    -39.072846
9162    150.698854
Name: PostCovid_3, Length: 7608, dtype: float64

In [132]:
# I confirmed that all the columns, which contain the percent changes, were correctly assigned in the dataframe:

renamed_df.head()

,Symbol,Name,Pre_COVID,Mar_2020,Jun_2020,Oct_2020,PreCovid,PostCovid_1,PostCovid_2,PostCovid_3
0,A,"Agilent Technologies, Inc. Common Stock",85.309998,71.620003,88.370003,105.760002,0,-16.047351,3.586924,23.971404
1,AA,Alcoa Corporation Common Stock,21.510000,6.160000,11.240000,12.520000,0,-71.362158,-47.745236,-41.794513
3,AAAU,Perth Mint Physical Gold ETF,15.150000,15.720000,17.780001,19.219999,0,3.762381,17.359743,26.864685
4,AACG,ATA Creativity Global - American Depositary Sh...,1.360000,0.950000,1.260000,1.080000,0,-30.147060,-7.352943,-20.588233
8,AADR,AdvisorShares Dorsey Wright ADR ETF,53.889999,40.340000,52.990002,57.990002,0,-25.143810,-1.670064,7.608095

In [133]:
# Sorting the percent change in the value of the stocks from highest to lowest: 


renamed_df_sorted = renamed_df.sort_values(["PostCovid_1", "PostCovid_2", "PostCovid_2"], ascending=False)
renamed_df_sorted

,Symbol,Name,Pre_COVID,Mar_2020,Jun_2020,Oct_2020,PreCovid,PostCovid_1,PostCovid_2,PostCovid_3
6237,PAVMW,PAVmed Inc. - Warrant,0.080000,1.260000,1.010000,0.910000,0,1475.000023,1162.500016,1037.500058
225,AHPI,"Allied Healthcare Products, Inc. - Common Stock",1.220000,17.510000,11.780000,5.240000,0,1335.245887,865.573726,329.508168
1719,CODX,"Co-Diagnostics, Inc. - Common Stock",0.895000,7.620000,19.350000,14.420000,0,751.396653,2062.011262,1511.173227
7931,TAPR,iPath Inverse US Treasury Composite ETN,13.760000,111.635002,69.764999,89.290001,0,711.300874,407.013069,548.909880
3591,GNPX,"Genprex, Inc. - Common Stock",0.320000,2.420000,3.140000,3.750000,0,656.250041,881.250055,1071.875026
...,...,...,...,...,...,...,...,...,...,...
4652,JNUG,Direxion Daily Junior Gold Miners Index Bull 2...,834.700012,39.700001,110.330002,147.750000,0,-95.243800,-86.782077,-82.299030
5856,NRGU,MicroSectors U.S. Big Oil Index 3X Leveraged ETN,47.147999,2.214000,4.080000,1.660000,0,-95.304149,-91.346399,-96.479172
1136,BRZU,Direxion Daily Brazil Bull 2X Shares,1358.000000,53.200001,74.379997,72.239998,0,-96.082474,-94.522828,-94.680413
7742,SRRA,"Sierra Oncology, Inc. - Common Stock",547.200012,9.820000,12.100000,11.750000,0,-98.205409,-97.788743,-97.852705
3748,GUSH,Direxion Daily S&P Oil & Gas Exp. & Prod. Bull...,1462.000000,15.660000,34.299999,24.170000,0,-98.928865,-97.653899,-98.346785

In [134]:
# Find the business that has most profit/most loss (Usha)
    
# Plot 1 the profit/losses of all businesses (Chahnaz)

# Plot 2 (Usha)